<div class="how-container">
  <div>
  <h4>Who we are</h4>
    
  </div>
  <div >
      
    <p style="font-size: 32px;">I am incredibly grateful for the opportunity to participate in the Platzi + New Relic Challenge. This experience represented an exciting challenge, an invaluable opportunity to learn. I am attaching contact links and I look forward to your comments. :)</p>
       
    </div>
    <div class="social-container">
      <a target="_blank" href="https://www.linkedin.com/in/moibaldenegro/"><img src="../assets/linkedin.svg" alt="linkdin"></a>
      <a target="_blank" href="https://github.com/MoiBaldenegro"><img src="../assets/github.svg" alt=""></a>
      <a href=""><img src="../assets/instagram.svg" alt=""></a>
      <a href=""><img src="../assets/twitter.svg" alt=""></a>
    </div>
    <img src="https://static.platzi.com/media/user_upload/NRPlatziGithub-02edbed1-747e-4d94-b1d7-63dc0cbfb190.jpg" alt="reto-img" style="height: 250px; padding: 32px; opacity: 0.6;">
      
  </div>
</div>


